html, body {
  height: 100%!important;
}

.container1 {
  display: flex;
  flex-direction: column;
  height: 100%;
}

footer {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}


/* home */
.container1 .home{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height:100vh;  
}
.home p{
  font-size:1.2rem;
}

/* header */
 a{
  color: #fff;
  text-decoration: none!important;
}
.header a:hover{
  color:orange;
  transition:all .4s;
}
img{
  width:300px;
  height:300px;
}
.btn{
  width:300px;
}
/* product  */
.product {
  border:1px solid #e0e0e0;
  padding:10px;
  background-color: rgb(247, 241, 241);

}

/* products */
.products{
  margin-bottom:8rem;
}
.added{
  width:100%;
  height:40px;
  background-color:rgb(71, 172, 71);
  color:#fff;
  transition:all .4s;
  display:flex;
  align-items:center;
  justify-content: center;

}



@media only screen and (max-width:1290px){
      .product{
        width:13rem;
      }
      .product img{
        width:10rem;
        height:10rem;
      }
    .product .img{
      text-align: center;
    }
    .product h1{
      font-size:1.2rem!important;
    }
    .product p{
      font-size:1.2rem!important;
    }
    .btn{
      width:10rem;
    }
    .btn-wrapper{
      text-align: center;
    }
    /* cart */
    .card-item{
      margin-left:20rem!important;
      margin-right:20rem!important;
    }

    


}

/* cart */
.card-item{
margin-left:34rem;
margin-right:34rem;
}
aside{
  margin-bottom:8rem;
}

.cart-image{
  width:140px;
  height:140px;
  border-radius:7px;
}
.cart-top{
  display:flex;
  flex-direction:row;
  justify-content: space-between!important;
}
.next-section-btn{
  width:150px;
  margin:auto;
}

/* signup */
.content{
  width:50%;
  margin: 0 auto;
  margin-bottom:8rem;
}
label{
  font-weight: bold;
  padding-top:10px;
}

input{
  /* border:none; */
  /* border:1px solid #e0e0e0; */
  padding:7px;
  width:20rem;
}
input:invalid{
  border:2px solid red;
}

a
.btn-sign{width:20rem;text-align: center;}
select,option{
  width:20rem;
  padding:7px;
}
form{
  width:30rem;
}
/* .button-wrapper{text-align: center;} */

/* final */
.container1 .final{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height:100vh; 
}
